<section class=" filter-size filter-tag">
  <h2 class="widget-title title14 font-bold dosis-font text-uppercase">{{section.settings.shop_by_size_title}}</h2>
  <ul class="list-none list-size">
    {% assign tags = section.settings.shop_by_size_list_tags | split: ',' %}
    
    {% for t in tags %}
    {% assign tag = t | strip %}
    {% assign tag_value = tag | handleize %}
    <li class="cat-item{% if current_tags contains tag %} current-cat{% endif %}">
      <input type="checkbox" value="{{ tag_value | split: '|' | first }}" {% if current_tags contains tag %}checked{% endif %}/>
      <a href="javascript:void(0)" title="{{tag}}">{{tag}}</a>
    </li>
    {% endfor %}
  </ul>
  <!-- /.product-categories -->
</section>