<section class="filter-price filter-tag">
  <h2 class="widget-title ">{{section.settings.shop_by_price_title}}</h2>
  <ul class="list-none list-price">
    {% assign tags = section.settings.shop_by_price_list_tags | split: ',' %}
    
    {% for t in tags %}
    {% assign tag = t | strip %}
    {% assign tag_value = tag | handleize %}
    <li class="cat-item{% if current_tags contains tag %} current-cat{% endif %}">
      <input type="checkbox" value="{{ tag_value | split: '|' | first }}" {% if current_tags contains tag %}checked{% endif %}/>
      <a href="javascript:void(0)" title="{{tag}}"><i class="fa fa-angle-right" aria-hidden="true"></i>{{tag}}</a>
    </li>
    {% endfor %}
  </ul>
  <!-- /.product-categories -->
</section>