<div class="product-item-v1">
  <div class="product mb-30 engoj_grid_parent relative">
    <div class="img-product relative">
      <a href="#" >
        <img style="width: 100%" src="//placehold.it/960x997" class="img-responsive" alt="1">
      </a>
      <div class="product-icon-action">
        <div class="add-wishlist">
          <a><i class="{{settings.pia_wishlist}} "></i></a>
        </div>
        <div class="add-to-cart">
          <button type="submit" name="add" class="">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 width="28.348px" height="28.346px" viewBox="0 0 28.348 28.346" enable-background="new 0 0 28.348 28.346" xml:space="preserve">
              <g id="Forma_1_3_" enable-background="new    ">
                <g id="Forma_1_2_">
                  <g>
                    <path d="M25.338,20.504l3.01-13.809H14.479v1.146h12.392l-2.512,11.518H11.842L4.905,0.006H0v1.208h4.049l6.931,19.29H25.338z
                             M13.804,22.071c-1.72,0-3.132,1.39-3.132,3.136s1.412,3.135,3.132,3.135c1.717,0,3.129-1.389,3.129-3.135
                             S15.521,22.071,13.804,22.071z M13.804,27.136c-1.105,0-1.962-0.902-1.962-1.932c0-1.086,0.921-1.932,1.962-1.932
                             c1.104,0,1.961,0.902,1.961,1.932C15.765,26.292,14.906,27.136,13.804,27.136z M22.699,22.071c-1.719,0-3.129,1.39-3.129,3.136
                             s1.41,3.135,3.129,3.135s3.129-1.389,3.129-3.135S24.418,22.071,22.699,22.071z M22.699,27.136c-1.104,0-1.961-0.902-1.961-1.932
                             c0.059-1.086,0.92-1.932,1.961-1.932c1.105,0,1.961,0.902,1.961,1.932C24.66,26.292,23.806,27.136,22.699,27.136z"/>
                  </g>
                </g>
              </g>
            </svg>
          </button>
        </div>

        <div class="quick-view">
          <a href="javascript:void(0)" class=" icon-quickview inline-block box-shadow" data-id="{{ product.handle }}" data-toggle="tooltip" data-placement="top" data-original-title="{{settings.pia_quickview_name}}">
            <i class="ti-search"></i>
          </a>
        </div>

      </div>
      <!--     END ICON -->
    </div>

    <div class="info-product">
      <h4 class="des-font capital title-product mb-0 flex">
        <a href="#">Example title product</a>

      </h4>
      <!--     PRICE -->
      <p class="price-product">
        <s class="price-old">$80.00</s>
        <span class="price">$40.00</span>
      </p>

    </div>
  </div>
</div>  